.color-light-blue { color: #02B3E4 }
.color-dark-greyblue { color: #2D3C49}
.color-light-greyblue { color: #7D97AD}

* {
    color: #7D97AD;
    background-color: #2D3C49;
    text-align: center;
}

header {
    border-bottom: thick solid #7D97AD;
    white-space: nowrap;
    text-align: center;
}

#header-logo {
    max-width: 50px;
    max-height: 50px;
    margin-top: 0.5em;
}

#header-title {
    text-align: center;
    margin-bottom: -0.45em;
    font-size: 3em;
}

#header-subtitle {
    text-align: center;
    margin: 0;
    font-size: 1.25em;
}

#main-img {
    width: 100%;
    min-width: 250px;
    margin-top: 0.5em;
}

.tile {
    border: thin dotted #2D3C49;
    margin: auto;
}

@media (min-width: 550px) {
    #header-logo {
        float: left;
        max-width: 100px;
        max-height: 100px;
    }

    #header-title {
        float: right;
        font-size: 4em;
        margin-top: 5px;
    }

    #header-subtitle {
        float: right;
        font-size: 1.5em;
    }
}