.color-light-blue { color: #02B3E4 }
.color-dark-greyblue { color: #2D3C49}
.color-light-greyblue { color: #7D97AD}

* {
    color: #2D3C49;
}

header {
    border-bottom: thick solid #7D97AD;
    white-space: nowrap;
    text-align: center;
}

#header-logo {
    max-width: 100px;
    max-height: 100px;
}

#header-title {
    text-align: center;
    margin: -.25em auto;
}

#header-subtitle {
    text-align: center;
    margin: 0 auto;
}

#main-img {
    width: 100%;
    padding: 20px;
}

#portfolio-tiles {
    width: 100%;
    padding: 20px;
}

.tile {
    width: 255px;
    height: 255px;
    margin: 20px;
    border: thin solid #02B3E4;
}

@media (min-width: 550px) {
    #header-logo {
        float: left;
    }

    #header-title {
        float: right;
        font-size: 4em;
        margin-top: 5px;
    }

    #header-subtitle {
        float: right;
    }
}

@media (min-width: 1000px) {

}