#header-logo {
    padding: 20px;
    max-block-size: 100px;
    float: none;
    display: block;
}

#header-title {
    padding-top: 10px;
    font-size: 30pt;
    width: 100%;
    text-align: center;
}

#header-subtitle {
    font-size: 15pt;
    width: 100%;
    text-align: center;
}